/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding:0;
    margin:0
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * remove margin & padding & list-style-type of tag ul
 */

ul {padding:0; margin:0; list-style-type:none}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.sidebar {width:280px; background:#eee; height:460px; overflow-y:scroll; -webkit-overflow-scrolling:touch}
.sidebar ul.sidebar_list {}
.sidebar ul.sidebar_list li {height:40px; line-height:40px; border-bottom:1px solid #ccc; padding:0 16px}


.main {width:320px; position:absolute; top:0; left:0; z-index:99; background:#f5f5f5}
.container {overflow-x:hidden}
.pageWrap {width:9999px; height:416px;}
.page {widht:320px; height:460px; background:yellow; float:left;}


.header {width:320px;height:44px;background:#666}
.header .pageTitle {width:210px; height:44px; line-height:44px; font-size:1.5em; color:#fff; text-align:center; float:left;font-weight:bold;font-family:"Heiti SC Medium"; text-shadow:-1px -1px 1px rgba(0,0,0,0.4)}
.header .btn {width:55px; height:44px; line-height:44px; overflow:hidden; background:#ccc; float:left}
.header .to_nav {}
.header .to_add {}

.listWrap {width:320px; height:366px; padding-top:10px; overflow-y:scroll; -webkit-overflow-scrolling:touch; background:#f5f5f5}
ul.main_list {margin:10px; margin-top:0; border:1px solid #ddd; border-radius:8px}
ul.main_list li{height:40px; line-height:40px; background:#eee; border-bottom:1px solid #ddd}
ul.main_list li:first-child {border-radius:8px 8px 0 0}
ul.main_list li:last-child {border-radius:0 0 8px 8px}
ul.main_list li .itemName {padding-left:3%; float:left}
ul.main_list li .summary {padding-right:3%; font-size:0.8em; text-align:right; float:right}

ul.sub_nav_bottom {width:320px; height:50px; background:#666}
ul.sub_nav_bottom li{width:79px; height:50px; line-height:44px; color:#fff; text-align:center; border-right:1px solid #888; float:left}
ul.sub_nav_bottom li:last-child {width:80px; border-right:none}
ul.sub_nav_bottom li.current {background:#333}

section.action {width:85%; background:#666; position:absolute; z-index:999; top:20%; left:7%; padding:10px 0; box-shadow:2px 3px 5px #666; border-radius:6px;}
section.action p {width:90%; backgorund:green; margin:20px auto}
section.action a {width:65px; height:30px; line-height:30px; margin:4px; border:1px solid #ddd; background:#fefefe; color:#333; text-align:center; text-decoration:none}
section.action a:hover {background:#f5f5f5; text-decoration:none}

#mask {width:320px; height:460px; background:#333; opacity:0.5; z-index:100; position:absolute; top:0; left:0}

























/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.in_block {display:-moz-inline-stack; vertical-align:top; display:inline-block; zoom:1; *display:inline}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
