<!DOCTYPE html>
<html ng-app="angular_demo">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <script src="js/cordova-2.3.0.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/underscore/underscore.js"></script>
        <script src="components/angular-underscore/angular-underscore.js"></script>
        <script src="js/controller.js"></script>
        
        <script type="text/javascript">
            angular.module('angular_demo', ['angular-underscore']);
        </script>
    </head>

    <body ng-controller="CustomerListCtrl">
        <!-- begin: sidebar -->
        <div id="sidebar" class="sidebar">
            <ul class="sidebar_list">
                <li>主页</li>
                <li>设置</li>
                <li>我的私客</li>
                <li>售后通讯录</li>
                <li>税费计算器</li>
                <li>...</li>
            </ul>
        </div>
        
        <!--- begin: list -->
        <div id="main" class="main">
            <div class="container">
	            <div class="pageWrap">
	                <div class="page">
	                    <header class="header clearfix">
	                        <div class="btn to_nav">&nbsp;</div>
	                        <div class="pageTitle">我的私客</div>
	                        <div class="btn to_update">&nbsp;</div>
	                    </header>
	            
	                    <section class="listWrap">
	                        <ul class="main_list">
	                            <li class="clearfix" ng-repeat="customer in customers" id="{{customer.inquiryId}}"  ng-click="call(customer.inquiryId)">
	                                <span class="itemName">{{ customer.custName }}</span>
	                                <span class="summary">{{ customer.districtName}}，{{ customer.countF + "房" + customer.countT + "厅" + customer.countW  + "卫" }}</span>
	                            </li>
                            </ul>
	                    </section>
	            
	                    <ul class="sub_nav_bottom clearfix">
	                        <li class="current">最近</li>
	                        <li>Ａ类</li>
	                        <li>Ｂ类</li>
	                        <li>Ｃ类</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </div>

        <section class="action {{show}}">
            <p>
                <a href="telto:{{phoneNumber}}" class="in_block">打电话 </a>
                <a href="telto:" class="in_block">发短信</a>
                <a href="telto:" class="in_block">立即看</a>
            </p>
            <p>
                <a href="telto:" class="in_block">发邮件</a>
                <a href="telto:" class="in_block">...</a>
            </p>
        </section>
        <div id="mask  {{show}}" ></div>
        
        
    </body>
</html>
