<!DOCTYPE html>
<html ng-app="angular_demo">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <script src="js/cordova-2.3.0.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/underscore/underscore.js"></script>
        <script src="components/angular-underscore/angular-underscore.js"></script>
        <script src="js/controller.js"></script>
        
        <script type="text/javascript">
            angular.module('angular_demo', ['angular-underscore']);
        </script>
    </head>

    <body>
        <!-- begin: sidebar -->
        <div id="sidebar" class="sidebar">
            <ul class="sidebar_list">
                <li>主页</li>
                <li>设置</li>
                <li>我的私客</li>
                <li>售后通讯录</li>
                <li>税费计算器</li>
                <li>...</li>
            </ul>
        </div>
        
        <!--- begin: list -->
        <div id="main" class="main">
            <div class="container">
	            <div class="pageWrap">
	                <div class="page">
	                    <header class="header clearfix">
	                        <div class="btn to_nav">&nbsp;</div>
	                        <div class="pageTitle">我的私客</div>
	                        <div class="btn to_update">&nbsp;</div>
	                    </header>
	            
	                    <section class="listWrap" ng-controller="CustomerListCtrl">
	                        <ul class="main_list">
	                            <li class="clearfix" ng-click="my(customer.id)" ng-repeat="customer in customers | filter:category" id="{{customer.id}}">
	                                <span class="itemName">{{ customer.name }}</span>
	                                <span class="summary">{{ customer.area}}，{{ customer.size}}</span>
	                            </li>
                            </ul>
	                    </section>
	            
	                    <ul class="sub_nav_bottom clearfix">
	                        <li class="current"><label><input type="radio" class="hidden" name="category" id="category_all" value="" ng-model="category">最近</label></li>
	                        <li><input type="radio" name="category" value="A类" ng-model="category">Ａ类</li>
	                        <li><input type="radio" name="category" value="B类" ng-model="category">Ｂ类</li>
	                        <li><input type="radio" name="category" value="C类" ng-model="category">Ｃ类</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </div>
        <!--section class="action">
            <p>
                <a href="telto:13917062966" class="in_block">打电话</a>
                <a href="telto:" class="in_block">发短信</a>
                <a href="telto:" class="in_block">立即看</a>
            </p>
            <p>
                <a href="telto:" class="in_block">发邮件</a>
                <a href="telto:" class="in_block">...</a>
            </p>
        </section>
        <div id="mask"></div-->
    </body>
</html>
